# General file ignores
.DS_Store
.vscode
super-linter.log

# Symlink to current repository to enable Ansible to find the role
# using its expected full name for Molecule tests
.cache/

# Python virtual env for Molecule testing
molecule-venv/
