---

- name: Create kafka group
  group:
    name: '{{ kafka_group }}'
    state: present
  tags:
    - kafka_group

- name: Create kafka user
  user:
    name: '{{ kafka_user }}'
    group: '{{ kafka_group }}'
    state: present
    createhome: no
  tags:
    - kafka_user

- name: Check if Kafka has already been downloaded and unpacked
  stat:
    path: /usr/share/kafka_{{ kafka_scala_version }}-{{ kafka_version }}
  register: dir

- name: Download Apache Kafka
  get_url:
    url: http://www-eu.apache.org/dist/kafka/{{ kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
    dest: /tmp
  when: dir.stat.exists == False
  tags:
    - kafka_download

- name: Unpack Apache Kafka
  unarchive:
    src: /tmp/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
    dest: /usr/share
    copy: no
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  when: dir.stat.exists == False
  tags:
    - kafka_unpack

- name: Create symlink to kafka installation directory
  file:
    src: /usr/share/kafka_{{ kafka_scala_version }}-{{ kafka_version }}
    dest: '{{ kafka_dir }}'
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_dirs

- name: Create directory for kafka log files
  file:
    path: '{{ kafka_log_dirs }}'
    state: directory
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_dirs

- name: Create directory for symlink to kafka configuration files
  file:
    path: /etc/kafka
    state: directory
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_dirs

- name: Template configuration file to server.properties
  template:
    src: server.properties.j2
    dest: '{{ kafka_dir }}/config/server.properties'
  notify:
    - Restart kafka service
  tags:
    - kafka_config

- name: Template configuration file to producer.properties
  template:
    src: producer.properties.j2
    dest: '{{ kafka_dir }}/config/producer.properties'
  notify:
    - Restart kafka service
  tags:
    - kafka_config

- name: Template configuration file to consumer.properties
  template:
    src: consumer.properties.j2
    dest: '{{ kafka_dir }}/config/consumer.properties'
  notify:
    - Restart kafka service
  tags:
    - kafka_config

- name: Create symlink to kafka server properties file
  file:
    src: '{{ kafka_dir }}/config/server.properties'
    dest: /etc/kafka/server.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka producer properties file
  file:
    src: '{{ kafka_dir }}/config/producer.properties'
    dest: /etc/kafka/producer.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka consumer properties file
  file:
    src: '{{ kafka_dir}}/config/consumer.properties'
    dest: /etc/kafka/consumer.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Template kafka systemd service file to /usr/lib/systemd/system/kafka.service
  template:
    src: kafka.service.j2
    dest: /usr/lib/systemd/system/kafka.service
  notify:
    - Reload kafka systemd
    - Restart kafka service
  tags:
    - kafka_service

- name: Install and start the kafka service
  service:
    name: kafka
    state: started
    enabled: yes
  tags:
    - kafka_service

- name: Delete the kafka archive file
  file:
    path: /tmp/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
    state: absent
  tags:
    - kafka_cleanup
