name: Molecule

on:
  push:
    branches:
      - master
      - release/v*
  pull_request:
    branches:
      - master

defaults:
  run:
    working-directory: 'sleighzy.kafka'

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'sleighzy.kafka'

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible ansible-lint yamllint docker molecule-docker molecule[docker,lint]

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
